<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <!-- AOP等自动扫描 -->
<!--    <context:component-scan base-package="org.kly.springCode.aop"/>-->
<!--    <context:annotation-config/>-->

<!--    &lt;!&ndash; 启用AspectJ自动代理 &ndash;&gt;-->
<!--    <aop:aspectj-autoproxy/>-->


<!--    <bean name="testAop" class="org.kly.springCode.aop.TestAop">-->
<!--        <property name="aopService" ref="aopService"/>-->
<!--    </bean>-->


<!--    <bean name="aopService" class="org.kly.springCode.aop.impl.AopServiceImpl"/>-->


    <!-- 配置切面 -->
    <!--
      <bean id="dealInterceptor" class="aop.interceptor.DealInterceptor"/>
    -->

    <!-- aop配置 -->
    <!-- <aop:config>
       &lt;!&ndash; 配置切点表达式 &ndash;&gt;
       <aop:pointcut expression="execution(* aop.AopService.*(..))"
                     id="pointcut"/>
       &lt;!&ndash; 配置切面及通知 &ndash;&gt;
       <aop:aspect ref="dealInterceptor" order="1">
         &lt;!&ndash;<aop:before method="beforeExecute" pointcut-ref="pointcut"/>&ndash;&gt;
         &lt;!&ndash;<aop:after method="afterExecute" pointcut-ref="pointcut"/>&ndash;&gt;
         &lt;!&ndash;<aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="exception"/>&ndash;&gt;
         &lt;!&ndash;<aop:after-returning method="afterReturning" pointcut-ref="pointcut" returning="result"/>&ndash;&gt;
         &lt;!&ndash;<aop:around method="around" pointcut-ref="pointcut"/>&ndash;&gt;
       </aop:aspect>
     </aop:config>-->
</beans>